<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCN - Transações - Vendas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css"/>
</head>
<body>
    <div class="header-estoque">
        <div class="row">
            <h2 class="nome-pagina">Compras</h2>
        </div>
    
        <div class="row">
    
            <div class="col-6">
                <div class="dropdown">
                    <button id="btn-organizar" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Organizar
                    </button>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Mais recentes</a></li>
                    <li><a class="dropdown-item" href="#">Mais antigos</a></li>
                    <li><a class="dropdown-item" href="#">Maior valor</a></li>
                    <li><a class="dropdown-item" href="#">Menor valor</a></li>
                    </ul>
                </div>
            </div>
    
            <div class="col-6" id="btn-add"> 
                <a href="/cadastro_compra/"><button type="button" class="btn btn-primary">+ Novo</button></a>
            </div>
        </div>
    </div>
     
    <div class="lista-estoque">
        <div class="row">
            <div class="itens-prod">
                    <table class="table table-hover">
                        <thead>
                        <tr class="header-prods-compras">
                            {{!-- <th scope="col"> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th> --}}
                            <th scope="col">#COD. COMPRA</th>
                            <th scope="col">NOME PROD.</th>
                            <th scope="col">COD. PRODUTO</th>
                            <th scope="col">PREÇO UNID.(R$)</th>
                            <th scope="col">QTD. COMPRADA</th>
                            <th scope="col">FORNECEDOR</th>
                            <th scope="col">TOTAL(R$)</th>
                            <th scope="col">DATA</th>
                            <th scope="col">AÇÕES</th>      
                        </tr>
                        </thead>
                        <tbody>
                            {{#each compras}}
                                <tr class="items-prods">
                                    {{!-- <th scope="row"> <input class="form-check-input" type="checkbox" value={{this.codCompra}} id="flexCheckDefault"></th> --}}
                                    <td><a class="link-info" style="text-decoration:none;" href="/detalhes/:codProduto" target="_self">{{this.codCompra}}</a></td>
                                    <td>{{this.nome}}</td>
                                    <td>{{this.codProduto}}</td>
                                    <td>{{this.preco_unid_compra}}</td>
                                    <td>{{this.quantidade}}</td>
                                    <td>{{this.fornecedor}}</td>
                                    <td>{{this.total}}</td>
                                    <td>{{this.Data_hora}}</td>
                                    <td class="btn-add">
                                         <a href="/editar_compra/{{this.codCompra}}"><button type="button" class="btn btn-info" style="margin-left: 2px;"><i class="bi bi-pencil-fill"></i></button></a>
                                         <a href="/deletar_compra/{{this.codCompra}}"><button type="button" class="btn btn-danger" style="margin-left: 2px;"><img src="/images/lata-lixo.png" alt="lata-lixo" style="width: 20px; padding: 1px;"></button></a>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <div id="call-area">
        <div class="container">
            <div class="row">
        <button class="main-btn" id="call-btn">Gerar relatório</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>